h3{
font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	
	margin-left: 400px;


}

.paineis img{
	margin-top: 30px;
	width: 250px;
	height: 200px;
	
	

}
.paineis li{
	display: inline;

}

.paineis div{

	border-bottom: 1px solid #333333;
}

h4{
	font-size: 20px;
	margin-top: 30px;
	
	
}