    @font-face {
      font-family: 'Sigmar One';
      font-style: normal;
      font-weight: 400;
      src: local('Sigmar One'), local('SigmarOne'), url(http://themes.googleusercontent.com/static/fonts/sigmarone/v4/aRAZJs6CY7SV6eSg6Wx4jxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
    }
    body{
        margin: 0;
        font: 14px Lucida sans;
        /*comentario */
 	background: #333 url(../img/login_foto2.jpg) no-repeat;
        /* background: #333 url('http://i.imgur.com/Ggzvfr8.jpg') no-repeat; */
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
                color: #003;
      /*   color: #fff;*/
    }
    a, a:active, a:focus{
        text-decoration: none;
        color: #fafafa;
    }
    #logo{
        font: 40px 'Sigmar One';
        text-align: center;
        padding: 0;
        margin: 5em 0 0;
        text-shadow: rgba(0,0,0,1) 0 0 5px;
    }
    #wrap{
        margin: 0 auto;
        max-width: 50%;
        background: rgba(255,255,255,.3);
        border-radius: 5px;
        text-shadow: rgba(0,0,0,.5) 1px 1px 0;
        box-shadow: rgba(0,0,0,.2) 0 0 3px;
        text-align: center;
        padding: 3em 1em;
    }
    hr{
        margin: 1em;
        border: 0;
        border-top: 1px rgba(0,0,0,.2) solid;
        border-bottom: 1px rgba(255,255,255,.2) solid;
    }
